<h1>Hello World!!</h1>


<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :answer %><br>
    <%= form.text_area :answer %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
